@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

.layout {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 55px;
}

header img {
  height: 24px;
  margin-right: 10px;

}

header h1 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Special Gothic Expanded One", sans-serif;
}

.entry {

  margin-left: 40px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.marker {
  width: 7px;
  margin-right: 4px;
}

.country {
  text-transform: uppercase;
  margin: 0px 10px 0px 10px
}

.imgcontainer {
  height: 168px;
  width: 125px;
  flex-shrink: 0;
  margin-right: 20px;

}

.imgcontainer img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}